[Unit]
Description=FIDO2 compatible authenticator for Linux
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/passkeez/passkeez
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
